<li class="dropdown">
    {% if app.user %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="avatar pull-left">
                <img src="{{ asset('img/icon-user.png') }}" class="img-responsive img-circle"
                    title="{{ 'button.login'|trans }}" alt="{{ 'button.login'|trans }}">
            </span>
            <span class="user-name">{{ app.user.username }}</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <div class="navbar-content">
                    <div class="row">
                        <div class="col-xs-5">
                            <img src="{{ asset('img/icon-user.png') }}" class="img-responsive user-avatar-dropdown"
                                 title="{{ 'button.login'|trans }}" alt="{{ 'button.login'|trans }}">
                            <p class="text-center small"></p>
                        </div>

                        <div class="col-md-7">
                            <span>{{ app.user.username }}</span>
                            <p class="text-muted small">
                                {{ app.user.email }}
                            </p>
                            <div class="divider"></div>
                            <a href="{{ path('change_password') }}" class="btn btn-default btn-xs"><i class="fa fa-lock" aria-hidden="true"></i> {{ 'button.user.password.change'|trans }}</a>
                        </div>
                    </div>
                </div>

                <div class="navbar-footer">
                    <div class="navbar-footer-content">
                        <div class="row">
                            <div class="col-xs-6">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('client_settings') }}" class="btn btn-default btn-sm pull-left">
                                        <i class="fa fa-cogs" aria-hidden="true"></i> {{ 'button.settings'|trans }}
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-xs-6">
                                <a href="{{ path('logout') }}" class="btn btn-default btn-sm pull-right">
                                    <i class="fa fa-power-off" aria-hidden="true"></i> {{ 'button.logout'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    {% else %}
        <a href="{{ path('login') }}"><span class="avatar pull-left">
            <img src="{{ asset('img/icon-user.png') }}" class="img-responsive img-circle"
                 title="{{ 'button.login'|trans }}" alt="{{ 'button.login'|trans }}"></span>
            <b class="caret"></b>
        </a>
    {% endif %}
</li>
