{% extends '::base.html.twig' %}

{% block body %}
    <div class="mainbody container-fluid">
        <div class="row">
            {% include '::navbar.html.twig' %}
        </div>
    </div>

    <div id="content">
        <div>
            {% include '::flashes.html.twig' %}

            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock body %}
