<div class="navbar-wrapper">
    <div class="container-fluid">
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">{{ 'button.navigation'|trans }}</span> <span class="icon-bar"></span><span
                                class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">{{ 'title'|trans }}</a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('tournaments') }}">{{ 'heading.tournaments'|trans }}</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% include '::dropdown.html.twig' %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
