{% set route, params = app.request.get('_route'), {} %}

{% if app.request.get('id') %}
    {% set params = {'id': app.request.get('id')} %}
{% endif %}

<ul class="pagination pagination-sm">
    {% if pager.current - 1 > 0 %}
        <li>
            <a href="{{ path(route, params|merge({'page': pager.current - 1})) }}">&laquo;</a>
        </li>
    {% else %}
        <li class="disabled">
            <span>&laquo;</span>
        </li>
    {% endif %}

    {% for page in range(1, pager.total) %}
        {% if page != pager.current %}
            <li><a href="{{ path(route, params|merge({'page': page})) }}">{{ page }}</a></li>
        {% else %}
            <li class="active">
                <span>{{ page }}</span>
            </li>
        {% endif %}
    {% endfor %}

    {% if pager.current + 1 <= pager.total %}
        <li>
            <a href="{{ path(route, params|merge({'page': pager.current + 1})) }}">&raquo;</a>
        </li>
    {% else %}
        <li class="disabled">
            <span>&raquo;</span>
        </li>
    {% endif %}
</ul>
