{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>{{ 'heading.welcome'|trans }}</h1>
            <p>{{ 'homepage.jumbo'|trans }}</p>
            <p><a href="{{ path('tournaments') }}" class="btn btn-primary btn-lg">{{ 'button.start'|trans }}</a></p>
        </div>
    </div>
{% endblock %}
