{% extends 'layout.html.twig' %}

{% set max_kills, max_deaths = 0, 0 %}

{% for player in statistics %}
    {% if player.statistics is not empty %}
        {% if player.statistics[0].kills > max_kills %}
            {% set max_kills = player.statistics[0].kills %}
        {% endif %}

        {% if player.statistics[0].deaths > max_deaths %}
            {% set max_deaths = player.statistics[0].deaths %}
        {% endif %}
    {% endif %}
{% endfor %}

{% block content %}
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1 class="panel-title pull-left panel-header">
                    <i class="fa fa-users" aria-hidden="true"></i> {{ 'heading.team.statistics'|trans }}
                </h1>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="chartz">
                                <div class="text-center text-uppercase">
                                    <h2>Kills</h2>
                                </div>

                                <div class="column-chart">
                                    <div class="legend legend-right hidden-xs">
                                        <div class="item">
                                            <h4>Superhero</h4>
                                        </div>

                                        <div class="item">
                                            <h4>Impressive</h4>
                                        </div>

                                        <div class="item">
                                            <h4>Good</h4>
                                        </div>

                                        <div class="item">
                                            <h4>Newbie</h4>
                                        </div>
                                    </div>

                                    <div class="chart clearfix">
                                        {% for player in statistics %}
                                            {% if player.statistics is not empty %}
                                                {% set kills = player.statistics[0].kills %}
                                                {% if max_kills > 0 %}
                                                    {% set bar = kills * 100 / max_kills %}
                                                {% else %}
                                                    {% set bar = 0 %}
                                                {% endif %}
                                            {% else %}
                                                {% set kills, bar = 0, 0 %}
                                            {% endif %}

                                            <div class="item">
                                                <div class="bar">
                                                    <span class="percent">{{ kills }}</span>
                                                    <div class="item-progress" data-percent="{{ bar }}"></div>
                                                    <div class="title">{{ player.name }}</div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <hr class="visible-xs">
                        </div>

                        <div class="col-lg-6">
                            <div class="chartz">
                                <div class="text-center text-uppercase">
                                    <h2>Deaths</h2>
                                </div>

                                <div class="column-chart">
                                        <div class="legend legend-right hidden-xs">
                                        <div class="item">
                                            <h4>Bullet Magnet</h4>
                                        </div>

                                        <div class="item">
                                            <h4>Unlucky</h4>
                                        </div>

                                        <div class="item">
                                            <h4>Strafing Pro</h4>
                                        </div>

                                        <div class="item">
                                            <h4>Matrix Neo</h4>
                                        </div>
                                    </div>

                                    <div class="chart clearfix">
                                        {% for player in statistics %}
                                            {% if player.statistics is not empty %}
                                                {% set deaths = player.statistics[0].deaths %}
                                                {% if max_deaths > 0 %}
                                                    {% set bar = deaths * 100 / max_deaths %}
                                                {% else %}
                                                    {% set bar = 0 %}
                                                {% endif %}
                                            {% else %}
                                                {% set deaths, bar = 0, 0 %}
                                            {% endif %}

                                            <div class="item">
                                                <div class="bar">
                                                    <span class="percent">{{ deaths }}</span>
                                                    <div class="item-progress" data-percent="{{ bar }}"></div>
                                                    <div class="title">{{ player.name }}</div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/chart.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/chart.js') }}"></script>
{% endblock %}
