{% extends 'layout.html.twig' %}

{% block content %}
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1 class="panel-title pull-left panel-header">
                    <i class="fa fa-users" aria-hidden="true"></i> {{ 'heading.tournament.teams'|trans }}
                </h1>
            </div>
            <div class="panel-footer">
                <a href="{{ path('tournaments') }}" class="btn btn-link">
                    <i class="fa fa-gamepad" aria-hidden="true"></i>{{ 'heading.tournaments'|trans }}
                </a>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                {% if teams is not empty and teams.results is not empty %}
                    <div id="no-more-tables">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>{{ 'team.id'|trans }}</th>
                                <th>{{ 'team.title'|trans }}</th>
                                <th>{{ 'team.date.created'|trans }}</th>
                                <th>{{ 'team.players.default'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for team in teams.results %}
                                {% set count = team.players|length %}
                                <tr>
                                    <td data-title="{{ 'team.id'|trans }}"> {{ team.id }}</td>
                                    <td data-title="{{ 'team.title'|trans }}">
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <a href="{{ path('team_statistics', {'id': team.id}) }}">{{ team.name }}</a>
                                        {% else %}
                                            {{ team.name }}
                                        {% endif %}
                                    </td>
                                    <td data-title="{{ 'team.date.created'|trans }}">{{ team.created_at|date }}</td>
                                    <td data-title="{{ 'team.players.default'|trans }}">
                                        {% if count %}
                                            {% transchoice count with {'%count%': count} %}team.players.count{% endtranschoice %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="well text-center">
                        {{ 'error.response.empty'|trans|raw }}
                    </div>
                {% endif %}

                {% if teams is not empty and teams.results is not empty %}
                    <hr>
                    <div class="text-center">
                        {% include 'pagination.html.twig' with {'pager': {
                            'total': teams.pages,
                            'current': teams.page
                        }} %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/tables.css') }}">
{% endblock %}
