{% extends 'layout.html.twig' %}

{% block content %}
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1 class="panel-title pull-left panel-header">
                    <i class="fa fa-gamepad" aria-hidden="true"></i> {{ 'heading.tournaments'|trans }}
                </h1>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                {% if tournaments is not empty and tournaments.results is not empty %}
                    <div id="no-more-tables">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>{{ 'tournament.id'|trans }}</th>
                                <th>{{ 'tournament.title'|trans }}</th>
                                <th>{{ 'tournament.date.start'|trans }}</th>
                                <th>{{ 'tournament.date.end'|trans }}</th>
                                <th>{{ 'tournament.teams.default'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for tournament in tournaments.results %}
                                    {% set count = tournament.teams|length %}
                                    <tr>
                                        <td data-title="{{ 'tournament.id'|trans }}">{{ tournament.id }}</td>
                                        <td data-title="{{ 'tournament.title'|trans }}">{{ tournament.name }}</td>
                                        <td data-title="{{ 'tournament.date.start'|trans }}">{{ tournament.starts_at|date }}</td>
                                        <td data-title="{{ 'tournament.date.end'|trans }}">{{ tournament.ends_at|date|default('-') }}</td>
                                        <td data-title="{{ 'tournament.teams.default'|trans }}">
                                            {% if count %}
                                                <a href="{{ path('tournament_teams', {'id':tournament.id}) }}">
                                                    {% transchoice count with {'%count%': count} %}
                                                    tournament.teams.count{% endtranschoice %}
                                                </a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="well text-center">
                        {{ 'error.response.empty'|trans|raw }}
                    </div>
                {% endif %}

                {% if tournaments is not empty and tournaments.results is not empty and is_granted('IS_AUTHENTICATED_FULLY') %}
                    <hr>
                    <div class="text-center">
                        {% include 'pagination.html.twig' with {'pager': {
                        'total': tournaments.pages,
                        'current': tournaments.page
                        }} %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/tables.css') }}">
{% endblock %}
