{% trans_default_domain 'ApiClientBundle' %}

{{ form_start(form) }}
    {{ form_rest(form) }}
    <div>
        <input type="submit" value="{{ 'setting.save'|trans }}" />
    </div>
{{ form_end(form) }}
