.chartz {
    padding-bottom: 25px;
}

.column-chart {
    position: relative;
    z-index: 20;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 320px;
    margin-top: 40px;
    margin-left: -50%;
}

@media (min-width: 568px) {
    .column-chart {
        width: 80%;
        margin-left: -40%;
    }
}

@media (min-width: 768px) {
    .column-chart {
        width: 60%;
        margin-left: -30%;
    }
}

@media (min-width: 992px) {
    .column-chart {
        width: 40%;
        margin-left: -20%;
    }
}

@media (min-width: 1024px) {
    .column-chart {
        /*width: 36%;*/
        /*margin-left: -18%;*/

        width: 70%;
        margin-left: -45%;
    }
}

.column-chart:before,
.column-chart:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: calc(100% + 30px);
    height: 25%;
    margin-left: -15px;
    border-top: 1px dashed #eaeaea;
    border-bottom: 1px dashed #eaeaea;
}

.column-chart:after {
    top: 50%;
}

.column-chart > .legend {
    position: absolute;
    z-index: -1;
    top: 0;
}

.column-chart > .legend.legend-left {
    left: 0;
    width: 25px;
    height: 75%;
    margin-left: -55px;
    border: 1px solid #b4b4b5;
    border-right: none;
}

.column-chart > .legend.legend-left > .legend-title {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 65px;
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
    margin-left: -60px;
    font-size: 28px;
    letter-spacing: 1px;
}

.column-chart > .legend.legend-right {
    right: 0;
    width: 100px;
    height: 100%;
    margin-right: -115px;
}

.column-chart > .legend.legend-right > .item {
    position: relative;
    width: 100%;
    height: 25%;
}

.column-chart > .legend.legend-right > .item > h4 {
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    font-size: 16px;
    color: #6b6b6b;
}

.column-chart > .chart {
    position: relative;
    z-index: 20;
    bottom: 0;
    left: 50%;
    width: 98%;
    height: 100%;
    margin-left: -49%;
}

.column-chart > .chart > .item {
    position: relative;
    float: left;
    height: 100%;
}

.column-chart > .chart > .item:before {
    position: absolute;
    z-index: -1;
    content: '';
    bottom: 0;
    left: 50%;
    width: 1px;
    height: calc(100% + 15px);
    border-right: 1px dashed #eaeaea;
}

.column-chart > .chart > .item > .bar {
    position: absolute;
    bottom: 0;
    left: 3px;
    width: 94%;
    height: 100%;
}

.column-chart > .chart > .item > .bar > span.percent {
    display: block;
    position: absolute;
    z-index: 25;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 26px;
    line-height: 26px;
    color: #fff;
    background-color: #3e50b4;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
}

.column-chart > .chart > .item > .bar > .item-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    color: #fff;
    background-color: #ff4081;
}

.column-chart > .chart > .item > .bar > .item-progress > .title {
    position: absolute;
    top: calc(50% - 13px);
    left: 50%;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.column-chart > .chart > .item > .bar > .title {
    color: #2f4f4f;
    font-size: 18px;
    position: absolute;
    left: 10%;
    top: 90%;
    text-transform: uppercase;
    letter-spacing: 2px;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: left bottom 0;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: left bottom 0;
    transform: rotate(-90deg);
    transform-origin: left top 0;
}

@media (min-width: 360px) {
    .column-chart > .chart > .item > .bar > .item-progress > .title {
        font-size: 16px;
    }
}

@media (min-width: 480px) {
    .column-chart > .chart > .item > .bar > .item-progress > .title {
        font-size: 18px;
    }
}

@media (max-width: 425px) {
    .column-chart > .chart > .item > .bar > .title {
        white-space: nowrap;
        left: 23%;
    }
}
