.mainbody {
    background: #f0f0f0;
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 21;
    margin-left: -15px;
    margin-right: -15px;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
}
.navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-content {
    width: 320px;
    padding: 15px 15px 0;
}
.navbar-content:before,
.navbar-content:after {
    display: table;
    content: "";
    line-height: 0;
}
.navbar-default {
    background-color: #222222;
    border-color: #121212;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-footer {
    background-color: #DDD;
}
.navbar-footer-content {
    padding: 15px 15px 15px 15px;
}
.dropdown-menu {
    padding: 0;
    overflow: hidden;
}
.brand_network {
    color: #9D9D9D;
    float: left;
    position: absolute;
    left: 70px;
    top: 30px;
    font-size: smaller;
}
.post-content {
    margin-left: 58px;
}
.badge-important {
    margin-top: 3px;
    margin-left: 25px;
    position: absolute;
}
.badge-cart {
    background-color: #3FB618;
}
body {
    background-color: #e8e8e8;
}
#content {
    padding-top: 50px;
    display: list-item;
}
.panel-header {
    font-size: xx-large;
}
.avatar {
    margin-right: 8px;
    margin-top: -5px;
}
.avatar-dropdown {
    width: 120px;
}
.avatar img {
    width: 30px;
    height: 30px;
}
.outer {
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.29);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.image-circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #fff;
}
.center img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.panel-item .panel-title {
    font-size: 30px;
}
.panel-item .price {
    margin-top: 10px;
}
.media .no-image {
    margin-bottom: 0;
}
.media .media-body hr {
    margin-top: 0;
}
.media .media-body .btn {
    margin-bottom: 20px;
}
.media-object {
    width: 50px;
    height: 50px;
    margin-right: 8px;
    margin-top: -5px;
}
.post-content img {
    width: 100%;
}
.post-content .post-content {
    margin-left: 0;
}
.modal .modal-body img {
    max-width: 100%;
}
#app_bundle_item_pictures .form-group img {
    width: 80px;
    outline: 2px solid #ddd;
}
hr.darker {
    border-top-color: #ddd;
}
.order-total {
    color: #008000;
}
.main {
    display: table;
}
.vertical-align {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
@media (max-width: 424px) {
    #app_bundle_item_pictures .input-group {
        float: right;
    }
    #app_bundle_item_pictures .input-group .input-group-btn {
        display: block;
        padding: 0;
    }
}
@media (min-width: 768px) {
    .panel-item .price {
        float: right;
        margin-top: 0;
    }
    .media-more {
        display: block;
    }
}
.input-group-btn.collection-btn {
    padding-left: 15px;
}
.collection input[type="file"] {
    display: none;
}
#login .checkbox .character-checkbox {
    position: relative;
}
#login .remember_me {
    display: inline-block;
    padding-left: 10px;
    vertical-align: sub;
    font-size: 14px;
}
#login #btn-login,
#login #btn-register {
    margin-bottom: 20px;
}
.panel-filter .panel > .panel-heading {
    background-color: #9954BB;
    border-color: #ddd;
    padding: 0;
}
.panel-filter .panel > .panel-heading .panel-title {
    font-size: 15px;
    font-weight: normal;
}
.panel-filter .panel > .panel-heading .panel-title a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}
.panel-filter .panel .panel {
    box-shadow: none;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
#login {
    padding-top: 50px;
}
#login .form-wrap {
    margin: 0 auto;
}
#login h1 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #cccccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .btn.btn-custom {
    font-size: 14px;
    margin-bottom: 20px;
}
#login .options {
    font-size: 13px;
    text-align: center;
    display: block;
}
#login .separator {
    padding: 0 10px;
    color: #eeeeee;
}
.form-control {
    color: #212121;
}
.btn-custom {
    color: #ffffff;
    background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #ffffff;
}
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}
.profile-edit .btn-link {
    text-decoration: none;
}
.profile-edit .btn-link:hover,
.profile-edit .btn-link:focus {
    text-decoration: none;
}
.btn-remove.btn-sm {
    font-size: 10px;
}

.panel-footer > a > i.fa {
    padding-right: 5px;
}

.pagination {
    margin-bottom: 10px;
    margin-top: 5px;
}

.well.text-center {
    margin-bottom: 0;
}
