{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-3">
                <div class="form-wrap">
                    <h1>{{ 'heading.password.change'|trans }}</h1>

                    {% for message in app.flashes('success') %}
                        <div class="flash-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {{ form_start(form) }}
                        {{ form_row(form.currentPassword) }}
                        {{ form_row(form.plainPassword.first) }}
                        {{ form_row(form.plainPassword.second) }}
                        <button type="submit" name="change-password"
                                class="btn btn-success btn-lg btn-block">{{ 'button.update'|trans }} <span
                                    class="fa fa-check"></span></button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
