{% extends 'layout.html.twig' %}

{% block content %}
    <div id="login">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-3">
                    <div class="form-wrap">
                        <h1>{{ 'heading.login'|trans }}</h1>

                        {% if error %}
                            <div class="alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        {{ form_start(form) }}
                            {{ form_row(form._email) }}
                            {{ form_row(form._password) }}
                            <button type="submit" name="login" id="btn-login" class="btn btn-success btn-lg btn-block"><span
                                        class="fa fa-lock"></span> {{ 'button.login'|trans }}</button>
                        {{ form_end(form) }}

                        <div class="row options">
                            <a href="{{ path('signup') }}" class="register">{{ 'button.signup'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
