{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-3">
                <div class="form-wrap">
                    <h1>{{ 'heading.signup'|trans }}</h1>

                    {{ form_start(form) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.username) }}
                        {{ form_row(form.plainPassword.first) }}
                        {{ form_row(form.plainPassword.second) }}
                        <button type="submit" name="signup" class="btn btn-success btn-lg btn-block">{{ 'button.signup'|trans }} <span class="fa fa-check"></span></button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
